body {
    margin: 0;
}

#header {
    height: 175px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 60, 92);
}

#menu {
    flex: 1 1 auto;
    padding: 1rem;
}

#title {
    flex: 3 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}

#add {
    flex: 1 1 auto;
    padding: 1rem;
}

img {
    width: 100%;
    height: 100%;
    display: block;
  }

body, #background {
    height: 100%;
    width: 100%;
    background-color: rgb(98, 112, 138);
}

.todo-list {
    margin-top: 50px;
}

.collapsible-container {
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px;
}

.todo-container {
    height: 125px;
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: space-between;
}

.active, .collapsible-container:hover {
    background-color: #555;
  }

.expand {
    background-color: #555;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-top: 3px solid black;
}

.expand-title {
    font-size: 30px;
    font-weight: 700;
}

.expand-description {
    font-size: 30px;
}

.priority-box {
    height: 75px;
    width: 75px;
    margin: auto 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.title-box {
    flex: 1;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.date-box {
    flex: 1;
    min-width: 360px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-list {
    margin-top: 50px;
}

.project-container {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px;
}

.name-box {
    font-size: 40px;
}